* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 1280px;
  min-height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #111114;
}

#canvas {
  border: white solid;
}


/* Prevent browser from going below minimum size */
@media (max-width: 1279px) {
  body {
    min-width: 1280px;
  }
}

@media (max-height: 719px) {
  body {
    min-height: 720px;
  }
}